# Исследование надежности заемщиков

### Краткое описание проекта
Заказчик — кредитный отдел банка. Необходимо выяснить, влияет ли семейное положение, количество детей, доход и цель получения кредита на факт кредита в срок. 

### Цель проекта
Выяснить, влияет ли 
- семейное положение
- количество детей
- доход
- цель получения кредита на факт кредита в срок.

### Описание данных
- `children` — количество детей в семье
- `days_employed` — общий трудовой стаж в днях
- `dob_years` — возраст клиента в годах
- `education` — уровень образования клиента
- `education_id` — идентификатор уровня образования
- `family_status` — семейное положение
- `family_status_id` — идентификатор семейного положения
- `gender` — пол клиента
- `income_type` — тип занятости
- `debt` — имел ли задолженность по возврату кредитов
- `total_income` — ежемесячный доход
- `purpose` — цель получения кредита

### План работы 
1. Открыть и прочитать файл с данными
2. Убедиться, что данные корректно отображаются и являются полными
3. В случае наличия пропусков в данных, определить к какому типу пропусков они относятся и какими значениями их можно заполнить
4. Провести поиск явных дубликатов и удалить их
5. Провести поиск неявных дубликатов и исправить их
6. Провести категоризацию данных
7. Написать функцию, которая будет отвечать поставленным целям
8. Сделать выводы по результатам работы функции

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем

### Шаг 3. Исследуйте данные и ответьте на вопросы

Основная функция для поиска зависимости будет строить сводную таблицу. Функция принимает параметры: 
- база данных, с которой мы работаем
- колонка, для которой мы будет искать зависимость
- колонка с наличием задолженности по возврату кредита

и выглядит так:

In [22]:
def dependency_search(data, groupby_columns, debt):
    data_pivot = data.pivot_table(index=groupby_columns, values=debt, aggfunc=['sum', 'count', 'mean'])
    return data_pivot

Проверим работоспособность функции на примере первого задания и найдём зависимость между количеством детей и возвратом кредита в срок

In [23]:
def dependency_search(data, groupby_columns, debt):
    data_pivot = data.pivot_table(index=groupby_columns, values=debt, aggfunc=['sum', 'count', lambda x: f'{x.mean():.2%}'])
    return data_pivot
dependency_search(data, 'children', 'debt')

           sum  count <lambda>
          debt   debt     debt
children
0         1063  14091    7.54%
1          444   4808    9.23%
2          194   2052    9.45%
3           27    330    8.18%
4            4     41    9.76%
5            0      9    0.00%

Функция работает, но будет нагляднее представить среднее значение, т.е. отношение числа должников к общему количеству взявших кредиты, в виде процентов и выполнить сортировку значений зависимости по возрастанию

Вспомогательная функция, для вывода зависимости в процентах:

In [24]:
def dependence_percent(series):
    return f'{series.mean():.2%}'

**Основная функция, с которой мы будем работать, выглядит следующим образом:**

In [25]:
def dependency_search(data, groupby_columns, debt):
    '''
    Функция создаёт сводную таблицу и сортирует в порядке возрастания столбец со значениями зависимости
    '''
    data_pivot = data.pivot_table(index=groupby_columns, values=debt, aggfunc=['sum', 'count', dependence_percent]) \
    .sort_values(by=('dependence_percent', 'debt'))
    return data_pivot

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [26]:
dependency_search(data, 'children', 'debt')

           sum  count dependence_percent
          debt   debt               debt
children
5            0      9              0.00%
0         1063  14091              7.54%
3           27    330              8.18%
1          444   4808              9.23%
2          194   2052              9.45%
4            4     41              9.76%

**Вывод:** 

- *Предпочтительной категорией* клиентов для банка являются семьи без детей.
- *В зоне риска* находятся клиенты с двумя детьми

Разница между категориями 1,91% (здесь мы не учитываем категории с нерепрезентативной выборкой)
Могу предположить, что вероятность выплаты кредита в срок у клиентов без детей обусловлена отсутствием дополнительных расходов на детей.

Не удалость проанализировать многодетные семьи (3 и более детей), в виду недостаточго количества данных.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
dependency_search(data, 'family_status', 'debt')

                       sum  count dependence_percent
                      debt   debt               debt
family_status
вдовец / вдова          63    951              6.62%
в разводе               84   1189              7.06%
женат / замужем        927  12261              7.56%
гражданский брак       385   4134              9.31%
Не женат / не замужем  273   2796              9.76%

**Вывод:** 
- *Предпочтительной категорией* для банка являются вдовцы и люди в разводе, но так же видно, что они реже других категорий граждан берут кредиты.
- *В зоне риска* находятся граждане в гражданском браке или не состоящие в отношениях

Разница между категориями 3,14%

Могу предположить, что вероятность выплаты кредита в срок у клиентов овдовевших или в разводе обусловлена большей ответственностью и осознанием, что положиться можно только на себя. Отсюда же и вытекает вывод о меньшем желании брать кредиты в принципе.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [28]:
#0–30000 — 'E';
#30001–50000 — 'D';
#50001–200000 — 'C';
#200001–1000000 — 'B';
#1000001 и выше — 'A'.
dependency_search(data, 'total_income_category', 'debt')

                        sum  count dependence_percent
                       debt   debt               debt
total_income_category
D                        21    349              6.02%
B                       354   5014              7.06%
A                         2     25              8.00%
C                      1353  15921              8.50%
E                         2     22              9.09%

**Вывод:**
- *Предпочтительной категорией* для банка являются граждане с доходом от 200 000 до 1 000 000 (категория B). 
- *В зоне риска* находятся граждане с доходом от 50 000 до 200 000 (категория С)
- Делать какие-либо выводы по категориям А, D, E неккоректно, т.к. количество данных в разы меньше по сравнению с группами B и C. Можно предположить, что граждане, относящиеся к данным категориям, реже берут кредиты.

Разница между категориями 1,44% (здесь мы не учитываем категории с нерепрезентативной выборкой)

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [29]:
dependency_search(data, 'purpose_category', 'debt')

                          sum  count dependence_percent
                         debt   debt               debt
purpose_category
операции с недвижимостью  780  10751              7.26%
проведение свадьбы        183   2313              7.91%
получение образования     369   3988              9.25%
операции с автомобилем    400   4279              9.35%

**Вывод:** 

- *Предпочтительной категорией* для банка являются граждане, которые берут кредиты для операций с недвижимостью.
- *В зоне риска* находятся граждане, которые берут кредиты с целью получения образования и операций с автомобилем.

Разница между категориями 2,09%

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски встречались в столбцах:
- days_employed — общий трудовой стаж в днях 
- total_income — ежемесячный доход

В данных столбцах пропуски могли появиться из-за того, что клиент работал неофициально, т.е. у него нет официальной информации о зарплате и трудовом стажею

Так же нельзя исключать технологический фактор, возможны значения были пропущены на этапе внесения информации, переноса или копирования.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианные значения в данном случае являются лучшим решением, т.к. в наших данных есть значения, которые сильно выбиваются из общей выборки и они могли бы значительно повлиять на результаты, если бы мы использовали среднее значение.

В качестве примера добавим расчёт среднего и медианы для столбца `days_employed`

In [30]:
data.groupby('income_type')['days_employed'].agg('median') #медиана

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.137274
компаньон            1555.947387
пенсионер          365286.622650
предприниматель       520.848083
сотрудник            1572.328285
студент               578.751554
Name: days_employed, dtype: float64

In [31]:
data.groupby('income_type')['days_employed'].agg('mean') #среднее значение

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          3332.636454
компаньон            2062.884254
пенсионер          365051.368541
предприниматель       520.848083
сотрудник            2250.942428
студент               578.751554
Name: days_employed, dtype: float64

Как мы можем заметить, значения сильно отличаются в категорий граждан *компаньон* и *сотрудник*, причём в большую сторону. Предположительно в данных категориях присутствуют граждане, у которых стаж значительно отличается от остальных граждан в большую сторону.

In [32]:
data.groupby('income_type')['days_employed'].agg('max')

income_type
безработный        395302.838654
в декрете            3296.759962
госслужащий         15193.032201
компаньон           17615.563266
пенсионер          401755.400475
предприниматель       520.848083
сотрудник           18388.949901
студент               578.751554
Name: days_employed, dtype: float64

Предположения подтвердились, в данных категориях граждан есть выбросы, в разы отличающиеся от медианных значений и которые сильно повлияют на результаты исследования, если мы будем использовать среднее значение.

### Шаг 4: общий вывод.

**Предпочтительным клиентом** для банка будет являться гражданин:
- не имеющий детей
- вдовец или находящийся в разводе
- с доходом от 200 000 до 1 000 000 включительно (категория B)
- с целью кредита для операций с недвижимостью

**Самым рискованым клиентом** для банка будет являться гражданин:
- с 2 детьми
- состоящий в гражданском браке или не имеющий отношений 
- с доходом от 50 000 до 200 000 включительно (категория С)
- с целью кредита для оплаты свадьбы или образования

Так же в исследование практически не попали такие группы граждан, как:
- Многодетные семьи (от 3 детей и больше)
- Находящиеся в зарплатных категориях А, D, E

т.к. данных было недостаточно для проведения анализа.

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.